.c-side-menu__item {
  & + .c-side-menu__item {
    border-top: 1px solid #d4d4d6;
  }

  &:last-child {
    border-bottom: 1px solid #d4d4d6;
  }
}

.c-side-menu__item--main {
  display: none;
}

.c-side-menu__item__link {
  padding: 20px 30px;
  display: block;
  color: #000;
}

@media (max-width: 1100px) {
  .c-side-menu__item--main {
    display: list-item;
  }
}