.p-photo-form {
  padding-bottom: 50px;

  .p-anime-list-header {
    margin-top: 30px;
  }

  .c-button {
    width: 300px;
    margin: 0 auto;
  }
}

.p-photo-form__group {
  justify-content: space-around;
  display: flex;
  margin-top: 30px;

  .c-input-text,
  .c-input-password,
  .c-textarea {
    width: 600px;
  }
}

.p-photo-form__group__required {
  position: relative;

  &::after {
    content: "必須";
    position: absolute;
    right: -40px;
    background: #d6d5d5;
    padding: 3px;
    font-size: 13px;
  }
}

.p-photo-form__photo-title {
  margin-top: 30px;
}

.p-photo-form__caution {
  color: #818182;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.p-photo-form__group .p-photo-form__caution {
  text-align: left;
}

.p-photo-form__caution + .p-photo-form__caution {
  margin-top: 5px;
}

.p-photo-form__group--map {
  margin-top: 30px;
}

.p-photo-form__group--map__input-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  label {
    width: 10%;
  }

  .c-input-text {
    width: 20%;
  }
}

.p-photo-form__group--map__gmap {
  margin-top: 20px;
  height: 500px;
}

.p-photo-form__group__name {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.p-photo-form__group__name--img {
  label {
    text-decoration: underline;
    cursor: pointer;
  }

  p {
    margin-top: 20px;
  }
}

.p-photo-form__group__img-wrap {
  width: 600px;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1100px) {
  .p-photo-form__group {
    display: block;
    padding: 0 15px;

    .c-input-text,
    .c-input-password,
    .c-textarea {
      margin-top: 15px;
      width: 100%;
    }
  }

  .p-photo-form__group__name {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }

  .p-photo-form__group__required {
    padding-left: 40px;

    &::after {
      left: 0;
      right: unset;
    }
  }

  .p-photo-form__group--img {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .p-photo-form__group__img-wrap {
    width: 100%;
  }

  .p-photo-form__group__name--img {
    justify-content: center;
    width: 100%;
  }

}
