.p-photo-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 40px;
}

.p-photo-detail__info {
  width: 50%;
  text-align: left;

  &__title {
    text-align: left;
  }

  &__text {
    font-size: 16px;

    .p-photo-detail__info__title + &,
    & + & {
      margin-top: 10px;
    }

    & + .p-photo-detail__info__comment {
      margin-top: 30px;
    }
  }

  &__create {
    font-size: 13px;
  }

  &__anime {
    color: #0C88AD;
    text-decoration: underline;
  }

  &__comment {
    font-size: 18px;

    .p-photo-detail__info__name + & {
      margin-top: 30px;
    }
  }

  &__create {
    display: flex;

    .p-photo-detail__info__comment + & {
      margin-top: 30px;
    }

    span {
      flex-grow: 1;
    }

    a + a {
      padding-left: 10px;
    }
  }
}

.p-photo-detail__map {
  width: 45%;
  height: 400px;
}

.p-photo-detail--footer {
  display: flex;
  margin-top: 30px;

  .c-button {
    width: 230px;
  }

  .c-button--light-blue {
    width: 230px;
    margin-left: 20px;
  }
}

.p-photo-detail--other {
  padding-bottom: 40px;
  margin-top: 40px;
}

@media (max-width: 1100px) {
  .p-photo-detail {
    display: block;
  }

  .p-photo-detail__info {
    width: 100%;
    padding: 0 15px;
  }

  .p-photo-detail__map {
    width: 100%;
    margin-top: 15px;
  }

  .p-photo-detail__info-sub,
  .p-photo-detail__action {
    width: 100%;
  }

  .p-photo-detail__info + .p-photo-detail__info-sub {
    margin-top: 20px;
  }

  .p-photo-detail__info-sub + .p-photo-detail__action {
    margin-top: 40px;
  }
}