.p-photo-detail {
  display: flex;
}

.p-photo-detail__info {
  width: 70%;
  text-align: left;
}

.p-photo-detail__info__title {
  text-align: left;
}

.p-photo-detail__info__create {
  font-size: 12px;
}

.p-photo-detail__info__title + .p-photo-detail__info__create {
  margin-top: 10px;
}

.p-photo-detail__info__name {
  font-size: 16px;
}

.p-photo-detail__info__create + .p-photo-detail__info__name {
  margin-top: 10px;
}

.p-photo-detail__info__comment {
  font-size: 18px;
}

.p-photo-detail__info__name + .p-photo-detail__info__comment {
  margin-top: 30px;
}

.p-photo-detail__action {
  width: 30%;
}
