.p-top-photos__title {
  padding-top: 40px;
}

.p-top-photos__more-link {
  text-align: center;
  display: block;

  .p-photo-list + & {
    margin-top: 20px;
  }

  & + .p-anime-list-header {
    margin-top: 20px;
  }
}
